<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">About Us</h1>
            <hr class="border-dark">
        </div>
    </div>
    <div>
    <p class="content">
        On a mission to build a scalable high-quality news alternative from different sources  in India.
        As our project we used an API from newsaip.org. We have fetched Top News, and also news as different
        categery, Categories as Business, Technology, Entertainment and Sports.
        We provided an option to signup and login for users. In future we will provide customized news as per 
        users preference.
    </p>

        
    
    </div>
    <div class="team-section">
    <h3>Our Team</h3>
    <span class="borderr"></span>
        <div class="ps" >
            <div class="row">
            <div class="col-md-4">
                <a href="#p1"><img src="/static/images/p1.jpg" alt=""></a>
                <h3>Priya Verma</h3>
            </div>
            <div class="col-md-4">
                <a href="#p2"><img src="/static/images/p22.jpg" alt=""></a>
                <h3>Pravin Desai</h3>
            </div>
            <div class="col-md-4">
                <a href="#p3"><img src="/static/images/p3.jpg" alt=""></a>
                <h3>Ahisome Roy</h3>
            </div>
            </div>
        </div>

        <h3 class="text-center mt-4">Special Thank To </h3>
        <span class="borderr"></span>

        <div class="ps" >
            <div class="row">
                <div class="col-md-6">
                    <a href="#p1"><img src="/static/images/Abhay.PNG" alt=""></a>
                    <h3>Abhay Singh</h3>
                    <p>Our Mentor</p>
                </div>
                <div class="col-md-6">
                    <a href="#p2"><img src="/static/images/nishant.PNG" alt=""></a>
                    <h3>Nishant Ghodke</h3>
                    <p>Our Instructor</p>
                </div>
            </div>
        </div>
    </div>
</div>